/* Show the image and button only on small screens */
@media (max-width: 767px) {
    .small-screen-container {
      margin: 2px;
      display: block;
      justify-content: center;
      align-items: center;
      height: 500px;
    }
  
    .image-button {
      width: 300px; /* Increase the button width */
      margin-top: 1rem;
      padding: 1rem 1rem;
      background-color: #013d65;
      color: white;
      font-size: 1rem;
      text-decoration: none;
    }
  
    .button-container {
      display: flex;  
      justify-content: center; /* Center the button */
    }
  }
  
  @media (min-width: 768px) {
    .small-screen-container {
      display: none;
    }
  }